.jumbotron { background-color: transparent; }

.jumbotron p {
    margin: 0px;
    font-size: 17px;
}

#profile-pic { padding-bottom: 7px; }

.img-circle {
    height: 150px;
    width: 120px;
}

.media-logo { padding: 5px; }
.media-logo:hover { color: #005580; }

.github-logo { color: black; }

.email-btn {
    border: solid black 1px;
    color: black;
}

.btn-circle {
    width: 100px;
    height: 100px;
    font-size: 17px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 26px 13px;
    line-height: 1;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.btn-circle:hover { transform: scale(1.1); }

.page-header {
    margin-top: 0px;
    padding-top: 16px;

}

body { padding-bottom: 70px; }

.linkpic {
    height: auto;
    width: 300px;
    max-width: 100%;
    border-radius: 5%;
    border: solid #ded3d4 7px;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.linkpic:hover { transform: scale(1.1); }

#cooking {
    background: url("../img/coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:"Arial Black","Arial Bold",Gadget,sans-serif;
    color: white;
}

#cooking .btn {
    width: 300px;
    max-width: 100%;
    height: auto;
    white-space:normal;
    font-size: 21px;
    font-family: Arial, sans-serif;
}

/* footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: inherit;
}
/*end footer*/

@media screen and (max-width: 560px) {
    .link-p { word-wrap: break-word; }

    .right-bar { display: none; }

    .left-bar { width: 100%; }
    .left-bar h3 { font-size: 20px; }
    .left-bar h4 { font-size: 18px; }
    .left-bar p { font-size: 16px; }

    .nav-left, .nav-right {
        width: 100%;
        text-align: center;
    }

    .nav-right {
        /*flex box*/
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .nav-right .btn-circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        font-size: 13px;
        padding: 17px 8px;
        line-height: 1;
    }
}

@media screen and (max-width: 767px) and (min-width: 561px) {
    .right-bar h4 { font-size: 14px; }
    .right-bar p { font-size: 11px; }
}

@media screen and (max-width: 767px) {
    #index-button a { margin: 2px; }
}

@media screen and (max-width: 300px) {
    #cooking .btn {
        width: 100%;
        height: auto;
        white-space:normal;
        font-size: 17px;
        font-family: Arial, sans-serif;
    }
}
