.jumbotron {
    background-color: transparent;
    
}

.jumbotron p {
    margin: 0px;
    font-size: 17px;
}

#profile-pic {
    padding-bottom: 7px;
}

.img-circle {
    height: 150px;
    width: 120px;
}


.btn-circle {
    width: 100px;
    height: 100px;
    font-size: 17px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 26px 13px;
    line-height: 1;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.btn-circle:hover {
    transform: scale(1.1);
}

.page-header {
    margin-top: 0px;
    padding-top: 16px;
   
}

body {
    padding-bottom: 70px;
}

.linkpic {
    height: 300px;
    width: 300px;
    max-width: 100%;
    border-radius: 5%;
    border: solid #ded3d4 7px;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.linkpic:hover {
    transform: scale(1.1);
}

#cooking {
    background: url("../img/coffee.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:"Arial Black","Arial Bold",Gadget,sans-serif;
    color: white;
}

#cooking .btn {
    width: 300px;
    max-width: 100%;
    height: auto;
    white-space:normal;
    font-size: 21px;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 499px) and (min-width: 341px) {
    
    #nav-right {
        padding-top: 20px;
    }
    
    #nav-right .btn-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 11px;
        padding: 12px 5px;
        line-height: 1;
    }
    
    .link-p {
        word-wrap: break-word;
    }

    .right-bar {
        display: none;
    }
    
    .left-bar {
        width: 100%;
    }
    
    .left-bar h3 {
        font-size: 20px;
    }
    
    .left-bar h4 {
        font-size: 18px;
    }
    
    .left-bar p {
        font-size: 16px;
    }
    
    #project-left {
        width: 100%;
        text-align: center;
    }
    
    #project-right {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 340px) {
     
    #nav-right {
        padding-top: 20px;
    }
    
    #nav-right .btn-circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 10px;
        padding: 10px 4px;
        line-height: 0.8;
    }
    
    .link-p {
        word-wrap: break-word;
    }

    .right-bar {
        display: none;
    }
    
    .left-bar {
        width: 100%;
    }
    
    .left-bar h3 {
        font-size: 20px;
    }
    
    .left-bar h4 {
        font-size: 18px;
    }
    
    .left-bar p {
        font-size: 16px;
    }
    
    #project-left {
        width: 100%;
        text-align: center;
    }
    
    #project-right {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 500px) {
    .right-bar h4 {
        font-size: 14px;
    }
    
    .right-bar p {
        font-size: 11px;
    }
}

@media screen and (max-width: 767px) {
    #index-button a {
        margin: 2px;
    }
}

@media screen and (max-width: 300px) {
    #cooking .btn {
        width: 100%;
        height: auto;
        white-space:normal;
        font-size: 17px;
        font-family: Arial, sans-serif;
    }

}
