
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Easy Chinese Cooking</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <!-- custom css file -->
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  </head>
    
    
  <body id="cooking">
      <div class="jumbotron text-center">
            <h1>Coming soon!</h1>
            <h2 style="color:#FBEFEF; font-family: cursive;">Meanwhile, have a cup of coffee and:</h2>
            <div class="container text-center">
 
                <a href="http://www.brokentoystory.yaowangdev.com" class="btn btn-info single-button center-block">Check out my BrokenToyStory blog</a>

                <h3 style="color:#FBEFEF; font-family: cursive;">OR:</h3>

                <a href="{{ url_for('index') }}" class="btn btn-info center-block">Go back to my homepage</a>
               
            </div>
            
                
      </div>
        

      
      
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>