<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>On-going Projects</title>

     <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <!-- custom css file -->
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  </head>

  <body>
    <!-- header -->
    <div class="page-header">
        <div class="container">
            <div class="pull-left nav-left">
                <h1>{ Projects }</h1>
            </div>

            <!-- rightside nav buttons -->
            <ul class="list-inline pull-right nav-right">
                <li><a class="btn btn-primary btn-circle" href="{{url_for('index')}}"><span class="glyphicon glyphicon-home"></span></br>Home</a></li>
                <li><a class="btn btn-info btn-circle" href="{{url_for('resume')}}"><span class="glyphicon glyphicon-briefcase"></span><br>Resume</a></li>
                <li><a href="http://blog.yaowangdev.com" class="btn btn-warning btn-circle"><span class="glyphicon glyphicon-fire"></span></br>Blog</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h3>{ Broken Toy Story }</h3>
                <a href="http://www.brokentoystory.com">
                    <img class="linkpic" src="static/img/IMG_3203.JPG">
                </a>
                <br>
                <br>
                <p>A blog about my dog, Milkshake, and all the toys he broke.</p>
            </div>

            <div class="col-sm-6 text-center">
                <h3>{ Easy Chinese Kitchen }</h3>
                <a href="http://www.easychinesekitchen.com">
                    <img class="linkpic" src="static/img/IMG_1209.JPG">
                </a>
                <br>
                <br>
                <p>Everybody can cook authentic Chinese with my cooking website.</p>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <hr>
            <p>© 2015 - 2024 yaowangdev.com, all rights reserved.</p>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
