<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Yao Wang Resume</title>

     <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <!-- custom css file -->
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  </head>

  <body>
    <!-- header -->
    <div class="page-header">
        <div class="container">
            <div class="pull-left" id="nav-left">
                <h1>Yao Wang</h1>
                <p><span class="glyphicon glyphicon-envelope"></span> superyaooo@gmail.com</p>
            </div>

            <!-- rightside nav buttons -->
            <div id="nav-right">
                <ul class="list-inline pull-right">
                    <li><a class="btn btn-primary btn-circle" href="{{url_for('index')}}"><span class="glyphicon glyphicon-home"></span></br>Home</a></li>
                    <li><a class="btn btn-success btn-circle" href="{{url_for('projects')}}"><span class="glyphicon glyphicon-tree-conifer"></span><br />Projects</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- resume body -->
    <div class="container">
        <!-- 1st row -->
        <div class="row">
			<div class="col-md-3 left-bar">
			    <h3>PROGRAMMING SKILLS</h3>
			</div>
            <div class="col-md-6 col-sm-8 left-bar">
                <br />
			    <p><em><strong>Programming Languages:</strong></em> C#, Python, HTML & CSS, JavaScript, JQuery.</p>
                <p><em><strong>Technologies:</strong></em> ASP.NET, Flask, Bootstrap, Responsive Web Design, Git, MySQL.</p>
			</div>
        </div>
        <br />
        <br />

        <!-- 2nd row -->
        <div class="row">
			<div class="col-md-3 left-bar">
			    <h3>WORK EXPERIENCE</h3>
			</div>

            <div class="col-md-6 col-sm-8 col-xs-8 left-bar">
			    <h4>Software Developer</h4>
			    <p>Developing applications using Java.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
                <h4>Shelter Insurance Companies</h4>
			    <p>Columbia, MO
                <br />2017 - present</p>
			</div>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>Web Developer</h4>
                <p>Developing web apps using C#, ASP.NET, Javascript, JQuery, HTML, and CSS.<br />
                Meeting with customers regarding web app requirements and acceptance testing.<br />
                Finishing assignments under deadlines.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
                <h4>Columbia College</h4>
			    <p>Columbia, MO
                <br />2015 - 2016</p>
			</div>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>ESL Teacher</h4>
			    <p>Taught academic English to prepare international students for college education.<br />
                Created tests, quizzes and teaching materials based on course requirements.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
			    <h4>The Language Company</h4>
			    <p>Kirksville, MO
                <br />2012 - 2014</p>
			</div>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>Education Supervisor</h4>
			    <p>In charge of the Education Department of Hankou center, Wuhan Branch.<br />
                Organized teaching seminars to improve Education Staff's teaching ability.<br />
                Trained IELTS and TOEFL teachers.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
			    <h4>Web International English</h4>
			    <p>Wuhan, China
                <br />2010 - 2012</p>
			</div>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>English Translator</h4>
			    <p>Translated construction documents and technology manuals.</p>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
			    <h4>Wuhan Lafeiya Technology Consulting Firm</h4>
			    <p>Wuhan, China
                <br />2009</p>
			</div>
        </div>
        <br/>
        <br/>

        <!-- 3rd row -->
        <div class="row">
			<div class="col-md-3 left-bar">
			    <h3>PERSONAL PROJECTS</h3>
			</div>
			<div class="col-md-6 col-sm-8 col-xs-8 left-bar">
			    <h4>Easy Chinese Kitchen</h4>
			    <p><em><strong>Description:</strong></em> A cooking website being developed in Flask, with a CRUD admin page and a MySQL database.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
                <br />
			    <p>May, 2015 - present</p>
			</div>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>Froala Editor Image Upload- Flask Integration</h4>
                <p class="link-p">https://github.com/superyaooo/FroalaEditor_Flask_Integration</p>
			    <p><em><strong>Description:</strong></em> Server integration of Froala Editor Image Upload in Python with Flask. In this app, I reset the image upload path to the static folder.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
                <br />
			    <p>April, 2015</p>
			</div>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>CKEditor Image Upload- Flask Integration</h4>
                <p class="link-p">https://github.com/superyaooo/CKEditor_flask_integration</p>
			    <p><em><strong>Description:</strong></em> An app that demonstrates CKEditor integration in flask with image upload functionality. I also added allowed_files function so that only images can be uploaded.</p>
                <hr>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
			    <p>April, 2015</p>
			</div>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
			    <h4>Broken Toy Story</h4>
                <p class="link-p">www.brokentoystory.com</p>
			    <p><em><strong>Description:</strong></em> A blog developed in Flask, with a CRUD admin page and a MySQL database. The admin has complete control over the database and the image folder on the server side. The blog has a contact form, pagination, and comment functionality.</p>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-4 right-bar">
			    <p>March, 2015 - April, 2015</p>
			</div>
        </div>
        <br />
        <br />

        <!-- 4th row -->
        <div class="row">
            <div class="col-md-3 left-bar">
				<h3>EDUCATION</h3>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-8 left-bar">
				<h4>Computer Science and Technology</h4>
				<p>Bachelor of Engineering</p>
                <br />
                <hr>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 right-bar">
				<h4>Central China Normal University</h4>
				<p>Wuhan, China
                <br />2004 - 2008</p>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-8 left-bar">
				<h4>English</h4>
				<p>Bachelor of Arts</p>
                <br />
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 right-bar">
				<h4>Huazhong University of Science and Technology</h4>
				<p>Wuhan, China
                <br />2004 - 2008</p>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <hr>
            <p>© 2015 - 2017 yaowangdev.com, all rights reserved.</p>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
